@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&family=Poppins:ital,wght@0,100;0,400;0,500;1,300;1,600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url(../../public/assets/images/blocks.svg) #f1f1f1 no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #f1f1f1;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #d3d2d2;
  border-radius: 4px;
}

svg {
  display: inline-block;
}
